xml_schemas/aph-pages.rnc

start = element hansard {
	element page {
		start-of-transcript | start-of-business | speech | procedural-text | division | adjournment | question | misc
	}+
}

common-metadata =
	element main-committee { "Yes" | "No" } &
	element size { text } &
	element proof { "Yes" } &
	element source { "House" } &
	element database { "House Hansard" } &
	element date { text } &
	element page { xsd:integer }
	
misc =
	element meta {
		element context { "Bills" | "Miscellaneous" | "Start of Transcript" | "Start of Business" } &
		common-metadata &
		
		# Optional metadata
		element stage { "First Reading" | "Second Reading" | "Third Reading" | "Report from Main Committee" }?
	},
	anyElement

question =
	element meta {
		element type { "Question" } &

		element context { "Questions Without Notice" | "Questions in Writing" } &
		common-metadata &
		element responder { text } &
		element questioner { text } &

		# Optional metadata
		element interjector { text }? &
		element question_no { xsd:integer }?
	},
	anyElement
	
adjournment =
	element meta {
		element type { "Adjournment" } &

		element context { "Adjournment" } &
		common-metadata
	},
	anyElement

division =
	element meta {
		element type { "Division" } &

		element context { "Bills" | "Miscellaneous" } &
		common-metadata &
		
		# Optional metadata
		element stage { "First Reading" | "Second Reading" | "Third Reading" | "Report from Main Committee" }?
	},
	anyElement
	
procedural-text =
	element meta {
		element type { "Procedural text" } &

		element context {
			"Adjournment" | "Notices" | "Matters of Public Importance" | "Miscellaneous" | "Business" | "Bills"
		} &
		common-metadata &
		
		# Optional metadata
		element interjector { text }? &
		element stage { "First Reading" | "Second Reading" | "Third Reading" | "Report from Main Committee" }?
	},
	anyElement
	
speech =
	element meta {
		element type { "Speech" } &
		
		element context {
			"Miscellaneous" | "Distinguished Visitors" | "Bills" | "Business" | "Ministerial Arrangements" | "Questions Without Notice" |
			"Questions Without Notice: Additional Answers" | "Auditor-General's Reports" | "Statements by Members" | "Adjournment"
		} &
		common-metadata &
		element speaker { text } &

		# Optional metadata
		element interjector { text }? &
		element stage { "First Reading" | "Second Reading" | "Third Reading" | "Report from Main Committee" }?
	},
	anyElement


start-of-transcript =
	element meta {
		element type { "Start of Transcript" } &
		element context { "Start of Transcript" } &
		common-metadata
	},
	anyElement

start-of-business =
	element meta {
		element type { "Start of Business" } &
		element context { "Start of Business" } &
		common-metadata
	},
	anyElement
	
# Matches any well-formed XML
anyElement =
  element * {
    (attribute * { text }
     | text
     | anyElement)*
  }
